<!DOCTYPE html>
<html>
<head>
	<title>Formulario</title>
</head>
<body>
	<div>
		
	<form>
		Usuário<br>
		<input type="text" name="usuario" id='usr'><br>
		Senha<br>
		<input type="password" name='senha'><br>

		Endereço<br>
		<input type="text" name="endereço" id="end"><br>

		Estado<br>
		<input type="text" name="estado" id="est"><br>
		<br>

		<button type="submit" id="botao" >Enviar</button>
	</form>
	</div>
	<div>
		
		<table id="listagem">
			<thead>
				<tr>
					<th>Usuario</th>
				    <th>Endereço</th>
				    <th>Estado</th>
				</tr>
			</thead>

		</table>
	</div>

</body>
</html>