{%extends 'base.html'%}

{%block conteudo%}

<div class="card trans-card">
	<div class="card-body">
		<div>
			<h1>
				Unidade 4 - Banco de Dados
			</h1>
			Seja bem vindo ao site do trabalho da Unidade 4 - Banco de Dados da materia de Desenvolvimento Web
			<br>
			Conheça os Produtos cadastrados no banco de dados:
		</div>
		<div  style="text-align: center;">
			
			<a href="/produtos" class="btn btn-primary btn-lg rounded-pill mt-5">
				Acessar
			</a>
		</div>

	</div>

</div>

{%endblock%}